body {
    background-color: #f4f7fc;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; 
}

@keyframes fadeInUpCustom {
    from {
        opacity: 0;
        transform: translate3d(0, 30px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.container, .card-login-anim {
    animation: fadeInUpCustom 0.8s ease-out both;
}

.hover-float {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.hover-float:hover {
    transform: translateY(-5px); 
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12) !important; /* Bayangan lebih dalam */
}

.row-animate {
    animation: fadeInUpCustom 0.5s ease-out both;
}

.card { border: none; }
.table thead th { 
    font-weight: 600; color: #6c757d; 
    font-size: 0.85rem; text-transform: uppercase; letter-spacing: 0.5px; 
}
.btn-action { 
    width: 32px; height: 32px; padding: 0; 
    line-height: 32px; border-radius: 50%; transition: transform 0.2s;
}
.btn-action:hover { transform: scale(1.15);} 